@using DataAccess.CustomModel;
@model CancelCaseModel;

@*cancel case model *@
<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form method="post" asp-action="SubmitCancelCase" asp-controller="Admin" class="modal-content" onsubmit="return cancelvalidation()">
            <div class="modal-header" style="background-color:#00B7FF">
                <h5 class="modal-title text-light" id="exampleModalLabel">Confirm Cancellation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <h5>Patient Name:@Model.PatientFName @Model.PatientLName</h5>
                </div>
                <div class="mb-3 ">

                    <select class="form-select" aria-label="Default select example" asp-for="casetag" id="reason">
                        <option selected>Reasons for Cancellation</option>

                        @foreach (var item in Model.casetaglist)
                        {
                            <option value="@item.Casetagid">@item.Name</option>
                        }


                    </select>
                    <small id="reasonreq" style="color:red" class="d-none">Reason Is Required</small>
                </div>
                <div class="mb-3">
                    <textarea asp-for="notes" class="form-control" id="note" placeholder="Provide Additional Notes"></textarea>
                    <small id="notereq" style="color:red" class="d-none">Note Is Required </small>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" id="submitCase" class="btn text-light" style="background-color:#00B7FF">Confirm</button>
                <button type="button" class="btn border border-info" style="color:#00B7FF" data-bs-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>

<script>
    $('#reason').on('change', function () {
        let reason = $("#reason").val();
        if (reason != null) {
            $("#reasonreq").addClass('d-none').removeClass('d-block');

        }
    });

    $('#note').on('input', function () {
        var phn = $('#note').val();
        if (phn == "") {
            $('#notereq').addClass("d-block").removeClass("d-none");
        } else {
            $('#notereq').addClass("d-none").removeClass("d-block");
        }
    })

    function cancelvalidation() {
        let reason = $("#note").val();
        if (reason == "") {
            $("#notereq").addClass('d-block').removeClass('d-none');
            return false;
        } else {
            $("#notereq").addClass('d-none').removeClass('d-block');
        }
        
        return true;
    }
</script>