@using DataAccess.CustomModel;@model SendAgreement;@using DataAccess.Enums;@{    var color = "He";
    var role = "hello";    @if (Model.reqType == (int)RequestTypeEnum.Business)
    {
        color = "#d76879";
        role = "Business";
    }
    else if (Model.reqType == (int)RequestTypeEnum.Patient)
    {
        color = "#60be5e";
        role = "Patient";
    }
    else if (Model.reqType == (int)RequestTypeEnum.Family)
    {
        color = "#e69232";
        role = "FamilyFriend";
    }
    else if (Model.reqType == (int)RequestTypeEnum.Concierge)
    {
        color = "#0b7ebf";
        role = "Concierge";
    }}<div class="modal fade" id="sendagreementmodel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">    <div></div>    <div class="modal-dialog modal-dialog-centered">        <div class="modal-content border border-0 rounded-3">            <form  method="post" asp-controller="Admin" asp-action="SendAgreementSubmit">                <input asp-for="ReqClientId" hidden/>                <div class="modal-header bg-info text-white">                    <h5 class="modal-title" id="staticBackdropLabel">Send Agreement</h5>                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>                </div>                <div class="modal-body">                    <div class="px-lg-1 py-1 rounded d-md-flex align-items-center ms-2">                        <svg height="15" width="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">                            <circle fill=@color r="45" cx="50" cy="50" stroke="grey" stroke-width="3" />                        </svg>                        <h6 class="fs-6 ms-lg-2 m-auto">@role</h6>                    </div>                    <div class="mb-3 text-secondary">                        <p>To send agreement, please make sure that you are updating the correct contact information below for the responsible party</p>                    </div>                    <div class=" gap-2">                        <div class="form-floating mb-3">                            <input asp-for="@Model.phonenumber" type="tel" class="form-control" id="phn" placeholder="phone number" />                            <label for="floatingInput1" class="">Phone Number</label>                            <small id="phnReq" style="color:red" class="d-none">Phone no is required</small>                        </div>                        <div class="form-floating mb-3">                            <input asp-for="@Model.email" type="email" class="form-control" id="emil" mailto:placeholder="abc@gmail.com" />                            <label for="floatingInput" class="">Email</label>                            <small id="emilreq" style="color:red" class="d-none">Email is required</small>                        </div>                    </div>                </div>                <div class="modal-footer">                    <button type="submit" class="btn bg-info px-4 text-white">Send</button>                    <button type="button" class="btn border border-info text-info" data-dismiss="modal">Cancel</button>                </div>            </form>        </div>    </div></div><script>    $('#phn').on('input', function () {        var phn = $('#phn').val();        if (phn == "") {
            $('#phnReq').addClass("d-block").removeClass("d-none");
        } else {            $('#phnReq').addClass("d-none").removeClass("d-block");        }
    })    $('#emil').on('input', function () {        var emil = $('#emil').val();        if (emil == "") {            $('#emilreq').addClass("d-block").removeClass("d-none");        } else {            $('#emilreq').addClass("d-none").removeClass("d-block");        }    })</script>