@{
    ViewData["Title"] = "AdminLogin";
}
@using DataAccess.CustomModel;
@model AdminLoginModel;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/AdminLogin.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/dark-mode.css" />
</head>

<body>
    <div class="contianer-fluid overflow-hidden">
        <div class="row">

            <!-- left -->
            <div class="col-lg-6 col-md-6 col-sm-12 left">
                <img class="w-100 vh-100" src="~/img/background.jpg" alt="banner">
            </div>

            <!-- right  -->
            <div class="col-lg-6 col-md-6 col-sm-12 right">
                <img onclick="toggleDarkMode()" class="light" id="d-mode" src="~/img/dark.png" alt="dark">
                <div class="login">
                    <img class="hallodoc-img" src="~/img/hallodoc.png" alt="logo">
                    <h2>Login To Your Account</h2>
                    <form method="post">
                        <div class="input-div form-floating mb-3 w-100">
                            <input asp-for="email" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">

                            <label for="floatingInput">Email</label>

                        </div>
                        <div class="input-div form-floating mb-3 w-100">
                            <input asp-for="password" type="password" class="form-control" id="floatingInput" placeholder="name@example.com">

                            <label for="floatingInput">Password</label>

                        </div>
                        
                        <div class="input-div form-floating mb-3 w-100">
                            <a class="d-flex justify-content-center">
                                <button class="w-100 text-decoration-none" type="submit">Log In</button>
                            </a>

                        </div>
                   
                    </form>


                    <a href="patientforgotpassword.html" id="forget-pass">Forget Password?</a>
                </div>
                <footer>Terms of Conditions | Privacy Policy</footer>
            </div>
        </div>
    </div>


    <script src="./js/bootstrap.bundle.js"></script>
    <script src="./js/custom.js"></script>
    <script src="~/js/dark-mode.js"></script>

</body>
</html>
