@using DataAccess.CustomModel;
@model CancelAngreement;


<div class="modal fade" id="CancelAgreementModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#00B7FF">
                <h5 class="modal-title text-light" id="exampleModalLabel">Cancel Agreement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input asp-for="ReqClientId" id="ReqClientid" hidden />
                    <div>@Model.Firstname</div>
                    <div class="mb-3">
                        <textarea class="form-control" id="Description" placeholder="Description" asp-for="Reason"></textarea>
                    </div>
                    <button type="button" id="cancel-agreement-submit-btn" class="btn text-light" style="background-color:#00B7FF" data-bs-dismiss="modal">Confirm</button>
                </form>
            </div>
            <div class="modal-footer">

                <button type="button"  class="btn border border-info" style="color:#00B7FF">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#cancel-agreement-submit-btn').click(function () {
        var description = $("#Description").val();
        var reqClientId = $("#ReqClientid").val();

        $.ajax({
            url: "/Home/CancelAgreementSubmit",
            data: {
                ReqClientid: reqClientId,
                Description: description
            },
            type: 'POST',
            success: function (result) {
                $('#display').html(result);
                $('#cancelAgreementModal').modal('show');
                location.reload();
            },
            error: function (error) {
                console.log(error);
                alert('Error Fetching Request')
            },
        });
    });
</script>
 >