@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/dark-mode.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<div class="d-flex justify-content-center align-items-center" style="margin-top:-20px">

    <div class="d-flex flex-column main justify-content-between">

        <div class="d-flex flex-column under">
            <div class="d-flex justify-content-between ps-4">
                <div>
                    <img class="hallodoc-img" src="../img/hallodoc.png" alt="">
                </div>

                <div>
                    <button type="button" class="btn shadow border-info ms-2"
                            style="border-radius: 10px; border-color: aqua" id="colorButton">
                        <i id="moon" class="bi bi-moon text-info fs-5"></i>
                        <i id="sun" class="bi bi-sun text-info fs-5 d-none"></i>
                    </button>
                </div>
            </div>

            <div class="d-grid gap-2 mt-5">
                <a asp-controller="Patient" asp-action="patientsubreq">
                    <button class="btn w-100 p-2 border-0 fw-medium" style="background-color: #00b8e6; color: white;"
                            type="button">
                        Submit A Request
                    </button>
                </a>

                <a asp-controller="Patient" asp-action="patientreg">
                    <button class="btn w-100 p-2 border-0 fw-medium" style="background-color: #00004d; color: white;"
                            type="button">
                        Registered Patients
                    </button>
                </a>

                <a asp-controller="Admin" asp-action="AdminLogin">
                    <button class="btn w-100 p-2 border-0 fw-medium" style="background-color: mediumpurple; color: white;"
                            type="button">
                        Admin
                    </button>
                </a>
            </div>
            <div class="footer fw-medium p-2">Terms of Conditions &nbsp;|&nbsp; Privacy Policy</div>

        </div>

    </div>

    <script src="./js/bootstrap.bundle.js"></script>
    <script src="./js/custom.js"></script>
    <script src="./js/dark-mode.js"></script>
</div>


