body {
    width: 100vw;
    height: 100vh;
}


button {
    float: right;
}

.backbtn {
    border-style: none;
}

.iam {
    margin-top: -30px;
}

.modebtn {
    width: 45px;
    height: 45px;
}

.logo {
    width: 150px;
    height: 100px;
}

.box {
    align-items: center;
    justify-content: center;
    display: flex;
}

.back {
    width: 60px;
}

.btn {
    width: 300px;
}

#footerMain {
    margin-top: 21%;
}

.back {
    height: 50px;
    width: 100px;
}

.dark-mode {
    background-color: rgb(46, 44, 44);
    color: white;
}

#lnone {
    background-color: white;
}
    