<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - halloDoc</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="~/halloDoc.styles.css" asp-append-version="true" /> *@
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</head>
<body onload="checkMode()" class="dark-mode1">

    <div class="">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"> 
     <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="media/css/jquery.dataTables.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
     <script type="text/javascript" language="javascript" src="media/js/jquery.dataTables.js"></script>


    <script>
        document.getElementById('colorButton').addEventListener('click', () => {
            const mode = localStorage.getItem("mode");

            if (mode == 'light' || mode == null) {
                localStorage.setItem('mode', 'dark')
                document.getElementById("moon").classList.add("d-none")
                document.getElementById("sun").classList.remove("d-none")
                document.documentElement.setAttribute('data-bs-theme', 'dark');
            }
            else {
                localStorage.setItem('mode', 'light')
                document.getElementById("sun").classList.add("d-none")
                document.getElementById("moon").classList.remove("d-none")
                document.documentElement.setAttribute('data-bs-theme', 'light');
            }
        })


        const checkMode = () => {
            try {
                const mode = localStorage?.getItem("mode");

                if (mode == 'light' || mode == null) {
                    document.getElementById("sun").classList.add("d-none")
                    document.getElementById("moon").classList.remove("d-none")
                    document.documentElement.setAttribute('data-bs-theme', 'light');
                }
                else {
                    document.getElementById("moon").classList.add("d-none")
                    document.getElementById("sun").classList.remove("d-none")
                    document.documentElement.setAttribute('data-bs-theme', 'dark');
                }
            }
            catch (err) {
                alert("there was some issue in changing mode")
            }
        }

    </script>


    @await Component.InvokeAsync("Notyf")
    @RenderSection("Scripts", required: false)
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
