@* @await Html.PartialAsync(_Layout) *@

<div class="row d-flex position-absolute w-100">
    <footer class="position-bottom bottom-0 py-3 " style="background-color: #282828; ">
        <div class=" justify-content-md-end justify-content-center d-flex ">
            <a class="text-decoration-none " href=" "><span class="text-white ">Terms of Conditions</span></a>
            <span class="px-2 " style="color: grey; ">|</span>
            <a class="text-decoration-none " href=" "><span class="text-white ">Privacy Policy</span></a>
        </div>
    </footer>
</div>