<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<div class="modal fade" tabindex="-1" id="myModal" data-bs-backdrop="static" >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content dark-mode1">
            <div class="modal-body">
                <div class="d-flex justify-content-center">
                    <img src="~/img/error.png" alt="" id="warning-icon" class="ms-2 dark-mode1">
                </div>

                <p class="d-flex flex-column align-items-center">Information</p>
                <p class=" d-flex flex-column align-items-center">
                    When submitting a request, you must provide the correct
                    contact information about the patient or the responsible party. Failure to provide correct phone number and
                    email will delay service or be declined.
                </p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-outline-info btn btn-default close" id="closebtn" data-bs-dismiss="modal">
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    $(window).on('load', function () {
        $('#myModal').modal('show');
    });
</script>