<style>
    #logo {
        width: 180px;
        height: 100px;
    }

    #logout {
        color: rgb(0, 183, 255);
        background-color: white;
        border: 1px solid rgb(0, 183, 255);
        border-radius: 5px;
        width: auto;
        height: 2.5rem;
    }

        #logout:hover {
            background-color: rgb(0, 183, 255);
            color: white;
        }
</style>

<nav class="navbr navbar navbar-expand w-100 shadow">

    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation" style="height: 50%;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <img class="navbar-brand ms-3" id="logo" src="~/img/hallodoc.png" alt="logo">

        </div>
        <div>
            <ul class="navbar-nav ms-auto d-flex flex-nowrap align-items-center gap-2">
                <div class="d-none d-sm-flex  justify-content-center align-items-center ">
                <li class="nav-item">
                    <span>Welcome</span>
                </li>
                <li class="nav-item p-2 fw-bolder">
                    <span class="d-flex gap-1">
                        <span>Yash</span>
                        <span>Variya</span>
                    </span>
                </li>
        </div>
        <li class="nav-item">
            <button id="logout" class="px-3 dark-mode1">
                <span class=" d-none d-md-block">Logout</span><i class="bi bi-box-arrow-right d-md-none d-block"></i>
            </button>

        </li>
        <li class="nav-item">
            <button type="button" class="btn shadow border-info ms-2"
                    style="border-radius: 10px; border-color: aqua" id="colorButton">
                <i id="moon" class="bi bi-moon text-info fs-5"></i>
                <i id="sun" class="bi bi-sun text-info fs-5 d-none"></i>
            </button>
        </li>
        </ul>
    </div>
    </div>
</nav>