<nav class="shadow navbar navbar-light" id="lnone">
    <a class="navbar-brand"><img class="logo" src="../img/hallodoc.png" alt=""></a>
    <div id="img-btn">
        <img class="modebtn" class="light" src="~/img/dark.png" onclick="myFunction()" alt="" srcset="">
    </div>
</nav>