<link rel="stylesheet" href="~/css/dark-mode.css" />
<nav class="shadow navbar navbar-dark" id="">
    <a class="navbar-brand"><img class="logo" src="../img/hallodoc.png" alt=""></a>
    <div id="img-btn">
        <img class="modebtn" class="light" src="~/img/dark.png" onclick="toggleDarkMode()" id="darkbuttonnavbar" alt="" srcset="">
    </div>
</nav>
<script src="~/js/dark-mode.js"></script>

