﻿@using DataAccess.DataModels;
@model IQueryable<Requestwisefile>;

<style>
    #downloadSelected {
        color: rgb(0, 183, 255);
        background-color: white;
        border: 1px solid rgb(0, 183, 255);
        border-radius: 5px;
    }
        #downloadSelected:hover {
            background-color: rgb(0, 183, 255);
            color: white;
        }
</style>
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/dark-mode.css" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

<link rel="stylesheet" href="~/css/patientdashboard.css">
<br />

<nav class="navbr navbar navbar-expand w-100 shadow">

    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation" style="height: 50%;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <img class="navbar-brand ms-3" id="logo" src="~/img/hallodoc.png" alt="logo">

        </div>
        <div>
            <ul class="navbar-nav ms-auto d-flex flex-nowrap align-items-center gap-2">
                <div class="d-none d-sm-flex  justify-content-center align-items-center ">
                <li class="nav-item">
                    <span>Welcome</span>
                </li>
                <li class="nav-item p-2 fw-bolder">
                    <span class="d-flex gap-1">
                        <span> Yash</span>
                        <span> Variya</span>
                    </span>
                </li>
        </div>
        <li class="nav-item">
            <a asp-controller="patient" asp-action="patientreg">
                <button id="logout" class="px-3">
                    <span class=" d-none d-md-block">Logout</span><i class="bi bi-box-arrow-right d-md-none d-block"></i>
                </button>
            </a>
        </li>
        <li class="nav-item">
            <img onclick="toggleDarkMode()" class="light" src="~/img/dark.png" alt="">
        </li>
        </ul>
    </div>
    </div>
</nav>

<hr class="m-0 hr_line d-none d-lg-block">
<nav class="navbr navbar navbar-expand-lg py-0 pt-2 bg-body" style="z-index: 10;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class=" bg-white ps-5 nav nav-underline" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane"
                            type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                        Dashboard
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <a>
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane"
                                type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                            Profile
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container my-5 bg-light">

    <div class="container bg-white p-4 ">
        <div class="d-flex justify-content-between mb-4">
            <h2>Documents</h2>
            <a asp-controller="patient" asp-action="patientdashboard">
                <button id="logout" class="px-3" onclick="swapDivs()" id="backview">
                    <span class=" d-none d-md-block">&lt; Back</span><i class="bi bi-box-arrow-right d-md-none d-block"></i>
                </button>
            </a>
        </div>
        <div class="row">
            <p class="col-12">Patient Name</p>
            <p class="col-12">
                <span class="fw-bolder fs-4">Yash VAriya </span>
                <span>(f34r34t5gvr44)</span>
            </p>
            <p class="col-12 py-3">check here for any files that you or the doctors of your subsequents requestors have attached for you to review</p>
          
            <!-- row--- -->
        </div>

        <!-- ----container    -->
    </div>

<form class="input-group my-5 mt-3" method="post" enctype="multipart/form-data">
        <div class="input-group mb-3">
            <input type="file" class="form-control form-control-lg" id="fromFilelg" multiple>
            <label class="input-group-text bg-primary text-white" for="inputGroupFile02">
                <i class="bi bi-cloud-arrow-up m-1"></i>&nbsp;Upload
            </label>
        </div>
</form>
<div class="row my-3">
    <div class="col-12 d-flex justify-content-between">

        <h3>Documents</h3>
        <button class="px-3" id="downloadSelected" onclick="downloadSelectedFiles()">Download All</button>
    </div>
</div>
<div class="table-responsive">
    <table class="table dataTable table-hover" id="data-table" aria-describedby="data-table_info">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="selectAll" onclick="toggleCheckboxes()">
                </th>
                <th class="sorting" data-value="Description">
                    File
                </th>
                <th>
                    Uploader
                </th>
                <th>
                    Upload Date<i class="bi bi-arrow-up-short"></i>
                </th>
                <th>
                    Actions
                </th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                @foreach (Requestwisefile rwf in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="selectedFiles" value="@rwf.Filename">
                        </td>

                        <td>
                            <i class="bi bi-file-earmark-fill" style="color:red"></i>
                            @rwf.Filename
                        </td>
                        <td>@rwf.Requestid</td>
                        <td>@rwf.Createddate.ToString("MMM dd, yyyy")</td>
                        <td>
                            
                            <a href="~/UploadedFiles/@rwf.Filename" class="btn px-2 py-1 btn-outline-info shadow-none night-mode-btn" download>
                                <i class="bi bi-cloud-download"></i>
                            </a>

                        </td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td colspan="3" style="text-align: center;">No records found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>
<script src="~/js/dark-mode.js"></script>
<script>
    function toggleCheckboxes() {
        var checkboxes = document.getElementsByName('selectedFiles');
        var selectAllCheckbox = document.getElementById('selectAll');

        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = selectAllCheckbox.checked;
        }
    }

    function downloadSelectedFiles() {
        var selectedFiles = [];
        var checkboxes = document.getElementsByName('selectedFiles');

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedFiles.push(checkboxes[i].value);
            }
        }

        // If no files are selected, return
        if (selectedFiles.length === 0) {
            alert('Please select at least one file to download.');
            return;
        }

        // Construct URLs for all selected files and initiate download
        for (var j = 0; j < selectedFiles.length; j++) {

            var fileUrl = '/UploadedFiles/' + selectedFiles[j];
            var link = document.createElement('a');
            link.href = fileUrl;
            link.setAttribute('download', ''); // This attribute triggers the download
            link.click(); // Simulate a click event to initiate the download
        }

    }
</script>
